{% extends './basic.html' %}
{% load static %}

{% block title %}| ERROR 505{% endblock %}

  {% block body %}
		<!-- Content
		============================================= -->

 	<section id="slider" class="slider-element min-vh-60 min-vh-md-100 dark error404-wrap include-header" style="background:#ddd url(images/landing/satic.jpg) center;">
			<div class="slider-inner">

				<div class="vertical-middle">
					<div class="container text-center py-5 py-md-0">

						<div class="error404" style="color:red !important">ERROR</div>

						<div class="heading-block border-bottom-0">
                            <br>
							<h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>

						</div>



					</div>
				</div>

			</div>
		</section>
<!-- #content end -->
<!-- #content end -->




		{% endblock %}

