{% extends './basic.html' %}
{% load static %}

{% block title %}| About Us{% endblock %}

  {% block body %}

 
				<!-- About Section
				============================================= -->
				<div id="about" class="section m-0 bg-transparent page-section" style="padding: 0px 0">
					<div class="container clearfix">
						<div class="row clearfix">
							<div class="col-md-3 col-6 d-none d-md-block">
								<img src="{% static 'demos/shop/images/lehnga.jpg' %}" alt="Image">
							</div>
							<div class="col-md-6 col-12 center" style="padding: 0 50px;">

								<div class="heading-block bottommargin-sm">
									<h2>About Us</h2>
								</div>
							<p>Located at Main Bazar, Ahmedgarh, Punjab, Naveen Stores is the one-stop destination for all the fashionistas out there!!! Our Powerful Yet Simple Rule "Always Give Customers More Than They Expect", and we have been sticking to that since the day we started. From stunning lehengas to magnificent sarees, from gorgeous party wear to dreamy gowns, and from chic ethnic wear to trendy casual wear, we have everything to suit the taste of all the gorgeous ladies out there!!!
                                We are open throughout the week, so you don’t miss a chance to get that dream dress for any occasion. What’s more? We ship worldwide, so shout-out to all the desis out-there, stay close to your roots with Naveen Stores.
                                Bring out the desi in you- only with Naveen Stores!!!
                                </p>
							</div>
							<div class="col-md-3 col-6 d-none d-md-block">
                                <img src="{% static 'demos/shop/images/lehnga1.jpg' %}" alt="Image">
							</div>
						</div>
					</div>
				</div>
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				<section id="section-about" class="page-section section bg-transparent m-0">
					<div class="container clearfix">
                       <div class="row justify-content-center col-mb-50 mb-0">
							<div class="col-sm-6 col-lg-4">
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Why Choose <span>Us</span></h4>
								</div>
								<p>With an infinite collection of stunning outfits to choose from, you will surely find something to suit every occasion. Naveen Stores is your one-stop destination for all your bridal, festive, party, and casual wear shopping spree. Be close to your roots with an exquisite range of ethnic wear, only by Naveen Stores!!! Be your own-version of Desi girl !!!</p>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Best online store for <span>Bridal Outfits</span></h4>
								</div>
								<p>Still fussing over “THE WEDDING LEHENGA or GOWN???” Don’t worry, you’ve arrived at the right place!!! We at Naveen Stores understand how almost every girl has fantasized about their dream wedding at one point or another. And it won’t be wrong to say that they are more excited about their wedding day outfit than the groom. Keeping this in mind, we have curated and created a magnificent collection of the best bridal outfits. Get ready to finally live your dream of being the perfect bride with the perfect outfit, that no one can take their eyes off you!!! Don’t settle for anything less, make the best of your special day only with Naveen Stores. Gorgeous outfit for the gorgeous bride!!!</p>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Affordable fashion is now <span>just a click away!!!</span></h4>
								</div>
								<p>“Fashion is not a luxury, it's a right!!!” - Sarah Jessica Parker
                                We at Naveen Stores firmly believe that Fashion should be for everyone, and keeping this in mind, we present to you a plethora of outfits to choose from. From gorgeous lehengas to alluring sarees, from vibrant party wear to dreamy gowns, and from classy ethnic to chic casual wear, we have everything you are looking for. And news flash- it’s pretty much affordable!!! Don’t worry about burning a hole in your pockets. Select what you want, add to cart, place an order, and get ready to look at your gorgeous self, only with Naveen Stores- the best online shopping store for women!!!
                                </p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section><!-- #content end -->
		{% endblock %}

