{% extends './basic.html' %}
{% load static %}
{% load cart %}
{% load custom_filter %}

{% block title %}| Facebook Live{% endblock %}
{% block style %}


{% endblock %}

  {% block body %}
	<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>FB Live</h1>
				{% if filterdate %}
				<span>{{filterdate}}</span>
				{% endif %}
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Fb live</li>
				</ol>
			</div>

		</section><!-- #page-title end -->


		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

						<div class="container clearfix">

					<div class="row gutter-40 col-mb-80">
						<!-- Post Content
						============================================= -->
						<div class="postcontent col-lg-9 order-lg-last">
							<!-- Shop
							============================================= -->
							<div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">

								    {% for i in allprods %}

										<div class="product col-md-4 col-sm-6 sf-newarrivals">
										<div class="grid-inner">
											<div class="product-image" id="{{i.sr_no}}">
												<a href="/product_detail/{{i.id}}"><img src="{{i.image1.url}}"></a>
												{% if i.image2 %}
												<a href="/product_detail/{{i.id}}"><img src="{{i.image2.url}}" ></a>
												{% endif %}
												{% if i.lable %}
												<div class="sale-flash badge badge-success p-2">{{i.lable}}</div>
												{% endif %}
												{% if i.stock < 1 %}
												<div class="sale-flash1 badge badge-danger p-2" id="{{i.id}}" value="Out">Out of Stock</div>
												{% endif %}
												<script type="text/javascript">grayfunc("{{i.sr_no}}","{{i.id}}");</script>

											</div>
											<div class="product-desc">
												<a href="/product_detail/{{i.id}}" class="btn btn-dark" >Shop Now</a>
												<div class="product-title"><h3><a href="/product_detail/{{i.id}}">{{i.category}}</a></h3></div>

												{% if i.price == 0 %}
												<div class="product-price">
												<ins>{{i.discount_price|currency}}</ins>
												</div>
												{% else %}
												<div class="product-price">
												<del>{{i.price|currency}}</del> <ins>{{i.discount_price|currency}}</ins>
													</div>
												{% endif %}

											</div>
										</div>
									</div>

									{% endfor %}

							</div><!-- #shop end -->

											{% if allprods.has_next or allprods.has_previous %}
												  <ul class="pagination justify-content-center my-6">
													  {% if allprods.has_previous %}
													<li class="page-item">
														{% if filterdate %}
													  <a class="page-link" href="/facebookLive/{{filterdate}}/?page={{allprods.previous_page_number}}">Previous</a>
														{% else %}
													  <a class="page-link" href="/facebookLive/?page={{allprods.previous_page_number}}">Previous</a>
														{% endif %}
													</li>
													  {% endif %}

														 {% for p in allprods.paginator.page_range %}
																{% if allprods.number == p %}
																	{% if filterdate %}
																	<li class="page-item active"><a class="page-link" href="/facebookLive/{{filterdate}}/?page={{p}}">{{p}}</a></li>
																	{% else %}
																	<li class="page-item active"><a class="page-link" href="/facebookLive/?page={{p}}">{{p}}</a></li>
																	{% endif %}
																{% else %}
																	{% if filterdate %}
																	<li class="page-item"><a class="page-link" href="/facebookLive/{{filterdate}}/?page={{p}}">{{p}}</a></li>
																	{% else %}
																	<li class="page-item"><a class="page-link" href="/facebookLive/?page={{p}}">{{p}}</a></li>
																	{% endif %}
																{% endif %}
														 {% endfor %}
													  {% if allprods.has_next %}
													<li class="page-item">
														{% if filterdate %}
													  <a class="page-link" href="/facebookLive/{{filterdate}}/?page={{allprods.next_page_number}}">Next</a>
														{% else %}
													  <a class="page-link" href="/facebookLive/?page={{allprods.next_page_number}}">Next</a>
														{% endif %}
													</li>
													  {% endif %}
												  </ul>
											{% endif %}

						</div><!-- .postcontent end -->

						<!-- Sidebar
						============================================= -->
						<div class="sidebar col-lg-3">
							<div class="sidebar-widgets-wrap">
								<div class="widget widget-filter-links">
									<h4>Filter by date</h4>
									<ul>
										{% if filterdate %}
										<li><a href="/facebookLive/" data-sort-by="original-order">Clear</a></li>
										{% endif %}
										{% for i in date %}
										<li><a href="/facebookLive/{{i|date:'Y-m-d'}}">{{i}}</a></li>
										{% endfor %}

									</ul>

								</div>


							</div>
						</div>
						<!-- .sidebar end -->

					</div>


				</div>

			</div>
		</section>
<!-- #content end -->

	{% block js %}

	{% endblock %}
{% endblock %}


